body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cv-container {
    background-color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: 0;
}

.ma-photo {
    width: 150px;
    border-radius: 1005;
    display: block;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
}

.metier {
    text-align: center;
    color: #777;
}

h2 {
    color: white;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
background-image: url("images/photo.jpg");
#message{
    width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.skill{
    margin-bottom: 15px;
}

.barre {
    width: 100%;
    height: 20px;
    background-color: #9498bb8bb;
    border-radius: 10px;
}

.niveau{
    height: 20px;
    border-radius: 10px;
}

.html{
    width: 90%;
    background-color: rgb(42, 195, 233);
}

.css{
    width: 80%;
    background-color: rgb(73, 142, 202);
}

.js{
    width: 75%;
    background-color: rgb(87, 189, 233);
}

.java{
    width: 60%;
    background-color: rgb(76, 162, 184);
}

.c{
    width: 50%;
    background-color: rgb(91, 166, 216);
}
#experience {
    margin-top: 30px;
}

.experience {
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.experience h3 {
    margin-bottom: 5px;
}

.experience ul {
    padding-left: 20px;
}
.footer {
    background-color: white;
    color: black(209, 166, 155);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
#profil {
    display: flex;
    align-items: center; /* aligne verticalement */
    gap: 15px; /* espace entre la photo et le nom */
}

#profil img {
    width: 200px;
    height: 200px;
 #profil {
    display: flex;
    align-items: center;
    gap: 15px;

    background-color: lightblue; /* couleur de fond */
    padding: 20px;              /* espace intérieur */
    border-radius: 10px;        /* coins arrondis */
}   border-radius: 50%; /* photo ronde */
}
/* Défilement fluide */
html {
    scroll-behavior: smooth;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    padding: 0;
}

.navbar h2 {
    color: rgb(90, 98, 211);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: rgb(41, 98, 204);
    text-decoration: none;
}

#menu-btn,
#theme-btn {
    padding: 8px 12px;
    cursor: pointer;
}

/* Mode sombre */
.dark-mode {
    background-color: #1e1e1e;
    color: rgb(75, 77, 201);
}

.dark-mode .navbar {
    background-color: black;
}

/* Responsive */
@media (max-width: 100%) {

    #menu-btn {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background: #2c3e50;
        padding: 10px;
    }

    .navbar ul.active {
        display: flex;
    }
}

@media (min-width: 769px) {
    #menu-btn {
        display: none;
    }
}




.cv-container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:40%;
    background:#3f4758;
    color:white;
    padding:30px;
}


.content{
    width:70%;
    padding:40px;
    background:grey;
}
#formation{
    background-color:white ;
    align-items: center;
}
.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
